@import "variaveis.less";
@import "mapas.less";

@breakpointMobile: ~"(max-width: 767px)";

body{
    background-color: #colors[backgroundColor];
}

.container {
    max-width: 960px;

    @media @breakpointMobile{
        background-color: @corDeFundoMobile;
        max-width: 70%;
    }
}

.social-links{


    li{
        list-style-type: none;
    }
}